<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems</title>
    <style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
    </style>
  </head>
  <body>
    <h1>NICs</h1>
    <table>
      <tr>
        <th>Model</th>
        <th>Comments</th>
        <th>mac1</th>
        <th>ip1</th>
        <th>mac2</th>
        <th>ip2</th>
        <th>mac3</th>
        <th>ip3</th>
        <th>mac4</th>
        <th>ip4</th>
      </tr>
      <% @nics.each do |nic| %>
      <tr>
        <td><a href="/nics/<%= nic.id %>"><%= nic.model %></a></td>
        <td><%= nic.comments %></td>
        <td><%= nic.mac1 %></td>
        <td bgcolor="gold"><%=nic.ip1%></td>
        <td><%= nic.mac2 %></td>
        <td bgcolor="gold"><%=nic.ip2%></td>
        <td><%= nic.mac3 %></td>
        <td bgcolor="gold"><%=nic.ip3%></td>
        <td><%= nic.mac4 %></td>
        <td bgcolor="gold"><%=nic.ip4%></td>
      </tr>
      <% end %>
    </table>

    <a href="/nics/new">Add new NIC</a>
  </body>
</html>
