<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems</title>
    <style>
    </style>
  </head>
  <body>
    <h1>Systems</h1>
    <table>
      <tr>
        <th>Model</th>
        <th>username</th>
        <th>password</th>
        <th>Comments</th>
        <th>IP Address</th>
        <th>MAC address</th>
      </tr>
      <% @systems.each do |system| %>
      <tr>
        <td><a href="/systems/<%= system.id %>"><%= system.model %></a></td>
        <td><%= system.username %></a></td>
        <td><%= system.password %></a></td>
        <td><%= system.comments %></td>
        <td><a href="http://<%= system.ipaddr %>"><%=system.ipaddr%></a></td>
        <td><%= system.bmc_mac %></td>
      </tr>
      <% end %>
    </table>

    <a href="/systems/new">Add new System</a>
  </body>
</html>
