<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems - Add System</title>
  </head>
  <body>

    <h1>Add New System</h1>
    <% if @errors %>
    <div id="errors">
        <%= @errors %><br>
    </div>
    <% end %>
    <br/>
    <form method="post" action="/systems/create">
      <table>
        <tr>
          <td><label for="model"> Model:</label></td>
          <td><input type="text" name="model" value=<%=@system.model%>></td>
        </tr>
        <tr>
          <td><label for="username"> Username:</label></td>
          <td><input type="text" name="username" value=<%=@system.username%>></td>
        </tr>
        <tr>
          <td><label for="password"> password:</label></td>
          <td><input type="text" name="password" value=<%=@system.password%>></td>
        </tr>
        <tr>
          <td><label for="comments"> Comments:</label></td>
          <td><input type="text" name="comments" value=<%=@system.comments%>></td>
        </tr>
        <tr>
          <td><label for="bmc_mac"> BMC MAC:</label></td>
          <td><input type="text" name="bmc_mac" value=<%=@system.bmc_mac%>></td>
        </tr>
        <tr>
          <td><input type="submit"></td>
        </tr>
      </table>
    </form>
    <a href="/systems">Back to Index</a>
  </body>
</html>
