<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems - <%= @system.model %></title>
    <script type='text/javascript'>
      $(document).ready(function(){
      });
    </script>
  </head>
  <body>
    <% if @errors %>
    <div id="errors">
        <%= @errors %><br>
    </div>
    <% end %>
    <br/>

    <h1><%= @system.model %> SEL Logs</h1>

    <table>
        <% 
            attrs = []
            records = []
            @sels.each do |sel|
                if attrs.empty?
                    sel.attributes.each do |k, v| 
                        attrs << k unless k=='id' or k=='system_id'
                     end
                end
            end
        %>
        <tr>
            <% attrs.each do |h| %>
            <th><%=h%></th>
            <% end %>
        </tr>
        <% @sels.each do |sel| %>
            <tr>
            <% sel.attributes.each do |k, v| %>
                <% next if k == 'id' or k=='system_id'%>
                <td><%=v%></td>
            <% end %>
            </tr>
        <% end %>
    <table>
    <br/>
    <div class="digg_pagination">
        <%= will_paginate @sels %>
    </div>
    <br/>
    <a href="/systems/<%=@system.id%>">Back to System Page</a>

    </body>
</html>
