<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems - <%= @system.model %></title>
    <script type='text/javascript'>
      function get_inband_mac() {
          $.ajax({
            url:'/systems/<%=@system.id%>/inband_mac',
            type:'get',
            success: function(data) {
              $("#inband_mac").fadeOut(function() {
                $(this).html(data).slideDown()
              })
            }
          });
      }

      function get_sys_info() {
          $.ajax({
            url:'/systems/<%=@system.id%>/sys_info',
            type:'get',
            success: function(data) {
              $("#sys_info").fadeOut(function() {
                $(this).html(data).slideDown()
              })
            }
          });
      }

      $(document).ready(function(){
        if (<%= @system.online? %>) {
          get_inband_mac();
          get_sys_info();
        }
      });
    </script>

  </head>
  <body>
    <% if @errors %>
    <div id="errors">
        <%= @errors %><br>
    </div>
    <% end %>
    <br/>
    <a href="/systems">Back to Index</a><br/>

    <h1><%= @system.model %></h1>
    <form method="post" action="/systems/<%=@system.id%>" id="detail_form">
      <input type="hidden" name="_method" value="patch">
      <table>
        <tr>
          <td><label for="model"> Model:</label></td>
          <td><input type="text" name="model" value="<%= @system.model%>"></td>
        </tr>
        <tr>
          <td><label for="username"> Username:</label></td>
          <td><input type="text" name="username" value="<%= @system.username%>"></td>
        </tr>
        <tr>
          <td><label for="password"> Password:</label></td>
          <td><input type="text" name="password" value="<%= @system.password%>"></td>
        </tr>
        <tr>
          <td><label for="comments"> Comments:</label></td>
          <td><input type="text" name="comments" value="<%= @system.comments %>"></td>
        </tr>
        <tr>
          <td><label for="bmc_mac"> BMC MAC:</label></td>
          <td><input type="text" name="bmc_mac" value="<%= @system.bmc_mac %>"></td>
        </tr>
        <tr>
            <td>BMC IP Address</td>
            <td><a href='https://<%= @system.ipaddr %>'><%= @system.ipaddr %></td>
        </tr>
      </table><br/>
    </form>
    <form method="post" action="/systems/<%=@system.id%>" id="delete_system">
        <input type="hidden" name="_method" value="delete">
    </form>
    <button type="submit" form="detail_form">Update</button>
	  <button type="submit" form="delete_system">Delete</button><br/>

    <!-- Below section should be displayed when the username/password/ip are present -->

    <br/>

    <div id='inband_mac'>
      <% if @system.online? %>
      <%= erb :'_inband_mac', :locals => {:update => false} %>
      <% end %>
    </div>

    <br/>

    <div id='sys_info'>
      <% if @system.online? %>
      <%= erb :'_sys_info', :locals => {:update => false} %>
      <% end %>
    </div>

    <br/>

    <h3>
    <a href="/systems/<%=@system.id%>/sels">SEL History</a><br/>
    <a href="/systems/<%=@system.id%>/conn_logs">Connection logs</a>
    </h3>

    <a href="/systems">Back to Index</a><br/>

    </body>
</html>
