<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems - <%= @system.model %></title>
  </head>
  <body>
    <h1><%= @system.model %></h1>
    <form method="post" action="/systems/<%=@system.id%>">
      <input type="hidden" name="_method" value="patch">
      <table>
        <tr>
          <td><label for="model"> Model:</label></td>
          <td><input type="text" name="model" value="<%= @system.model%>"></td>
        </tr>
        <tr>
          <td><label for="username"> Username:</label></td>
          <td><input type="text" name="username" value="<%= @system.username%>"></td>
        </tr>
        <tr>
          <td><label for="password"> Password:</label></td>
          <td><input type="text" name="password" value="<%= @system.password%>"></td>
        </tr>
        <tr>
          <td><label for="comments"> Comments:</label></td>
          <td><input type="text" name="comments" value="<%= @system.comments %>"></td>
        </tr>
        <tr>
          <td><label for="bmc_mac"> BMC MAC:</label></td>
          <td><input type="text" name="bmc_mac" value="<%= @system.bmc_mac %>"></td>
        </tr>
      </table>
      <button type="submit">Update</button>
    </form>
    <a href="/systems">Back to Index</a>
    <form method="post" action="/systems/<%=@system.id%>">
        <input type="hidden" name="_method" value="delete">
	<button type="submit">Delete</button>
    </form>


    <table>
    <caption>In-Band System MAC</caption>
    <tr>
      <th>MAC address</th>
      <th>IP Address</th>
    </tr>
    <% @system.sysmacs.each do |mac| 
        ipaddr = nil
        if @leases.has_key?(mac.to_sym) 
            ipaddr = @leases[mac.to_sym].ipaddr
        end
    %>
      <tr>
        <td><%= mac %></td>
        <td><%= ipaddr %></td>
      </tr>
    <% end %>
    </table>
    <table>
        <caption>System Information</caption>
        <tr>
          <td>BIOS Version:</td>
          <td><%= @system.bios_ver %></td>
        </tr>
        <tr>
          <td>BMC Version:</td>
          <td><%= @system.bmc_ver %></td>
        </tr>
        <tr>
          <td>CPLD Version:</td>
          <td id="cpld_version"></td>
        </tr>
    </table>

    <div id="sse_result">
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <!-- type="text/javascript" src="app.js?"+Math.random() -->
    <script>
      $("#cpld_version").text("Retrieveing...");   

      var sse_path = "/systems/" + <%= @system.id %> + "/system.json";
      console.log(sse_path)
    if(typeof(EventSource) !== "undefined") {
      var source = new EventSource(sse_path);
      source.addEventListener('message', function(event) {
      }, false);
      source.addEventListener('open', function(event) {
      }, false);
      source.addEventListener('error', function(event) {
        if (event.readyState == EventSource.CLOSED) {
          console.log("connection has error and closed.")
        }
      }, false);

      
      source.onmessage = function(event) {
          // build a table and from the result from route
          // console.log(event.data)
          var msg = JSON.parse(event.data)
          console.log(msg.cpld)
          $("#cpld_version").text(msg.cpld);
          source.close()
          // $("#sse_result").text(event.data)
      };
    } else {
      $("#sse_result").text("Browser does not support server-sent events....");
    }


    </script>
    </body>
</html>
