<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems - <%= @system.model %></title>
  </head>
  <body>
    <h1><%= @system.model %></h1>
    <form method="post" action="/systems/<%=@system.id%>">
      <input type="hidden" name="_method" value="patch">
      <table>
        <tr>
          <td><label for="model"> Model:</label></td>
          <td><input type="text" name="model" value="<%= @system.model%>"></td>
        </tr>
        <tr>
          <td><label for="username"> Username:</label></td>
          <td><input type="text" name="username" value="<%= @system.username%>"></td>
        </tr>
        <tr>
          <td><label for="password"> Password:</label></td>
          <td><input type="text" name="password" value="<%= @system.password%>"></td>
        </tr>
        <tr>
          <td><label for="comments"> Comments:</label></td>
          <td><input type="text" name="comments" value="<%= @system.comments %>"></td>
        </tr>
        <tr>
          <td><label for="bmc_mac"> BMC MAC:</label></td>
          <td><input type="text" name="bmc_mac" value="<%= @system.bmc_mac %>"></td>
        </tr>
      </table>
      <button type="submit">Update</button>
    </form>
    <a href="/systems">Back to Index</a>
    <form method="post" action="/systems/<%=@system.id%>">
        <input type="hidden" name="_method" value="delete">
	<button type="submit">Delete</button>
    </form>

    <!-- Below section should be displayed when the username/password/ip are present -->

    <br/>

  <div id='sse_result'>
    <table id='sys_mac_ips'>
      <caption>In-Band System MAC</caption>
      <tr>
        <th>Sys MAC Address</th>
        <th>IP Address</th>
      </tr>
    </table>

    <br/>
    <table id='sys_info'>
        <caption>System Information</caption>
        <tr>
          <td>BIOS Version:</td>
          <td id='bios_version'></td>
        </tr>
        <tr>
          <td>BMC Version:</td>
          <td id='bmc_version'></td>
        </tr>
        <tr>
          <td>CPLD Version:</td>
          <td id="cpld_version"></td>
        </tr>
    </table>
  </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $('#sse_result').hide();
      //$('#sys_mac_ips').hide();
      //$('#sys_info').hide();

      var sse_path = "/systems/" + <%= @system.id %> + "/system.json";
      console.log(sse_path)
    if(typeof(EventSource) !== "undefined") {
      // Browser support event source, Retreiveing SSE 
      $("#cpld_version").text("Retrieveing...");
      // add a table row with id so that we can remove later
      $('<tr>', {
        id: 'msg_retrieving'
      }).text('Retrieveing...').appendTo('#sys_mac_ips')
      var source = new EventSource(sse_path);
      source.addEventListener('message', function(event) {
      }, false);
      source.addEventListener('open', function(event) {
      }, false);
      source.addEventListener('error', function(event) {
        if (event.readyState == EventSource.CLOSED) {
          console.log("connection has error and closed.")
        }
      }, false);

      
      source.onmessage = function(event) {
          // build a table and from the result from route
          var msg = JSON.parse(event.data);
          // console.log(msg);
          if ('cpld' in msg) {
            $("#cpld_version").text(msg.cpld)

            // will close the event source when get the cpld version.
            source.close()
          } else if ('bios' in msg) {
            $("#bios_version").text(msg.bios)
          } else if ('bmc' in msg) {
            $("#bmc_version").text(msg.bmc)
          } else if ('mac_ips' in msg) {
            console.log(msg.mac_ips);
            $("#msg_retrieving").remove();
            a_mac_ips = msg.mac_ips;
            $.each(a_mac_ips, function(i, item) {
                if (item.ipaddr == null) {
                  item.ipaddr= "";
                }
                var $tr = $('<tr>').append(
                  $('<td>').text(item.mac),
                  $('<td>').text(item.ipaddr)
                );
                $('#sys_mac_ips').append($tr);

            })
          } else if ('online' in msg) {
            console.log(msg.online);
            if (msg.online != false) {
              $('#sse_result').show();
            }
          }

      };
    } else {
      $("#sse_result").text("Browser does not support server-sent events....");
    }

    </script>
    </body>
</html>
