<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems Inventories</title>
    <script type='text/javascript'>
    </script>
    <style>
    </style>
  </head>
  <body>
    <h1>Inventories</h1>
    <table class="sortable">
    <tr>
    <th>BMC MAC address</th><th>Product</th><th>DateTime</th><th class="sorttable_nosort">Action</th>
    </tr>
    <% @invs.each do |inv| %>
    <tr>
      <td><a href="/inventories/<%=inv.id%>"><%=inv.bmc_mac %></a></td><td><%=inv.product%></td>
      <td><%=inv.timestamp%></td>
      <td>
        <form method="post" action="<%= url_for '/' + inv.id.to_s %>" id="delete_inv">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    <% end %>
    </table>


  </body>
</html>
