<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' >
    <title>Lab Systems Inventories - <%= @inv.bmc_mac %></title>
    <script type='text/javascript'>
    </script>

  </head>
  <body>

    <% if @errors %>
    <div id="errors">
        <%= @errors %><br/>
    </div>
    <% end %>
    <br/>
    <h1><%= @inv.bmc_mac %>,<%=@inv.product %></h1>
    <h2>CPU</h2>
    <ol>
    <% @cpus.each do |c| %>
    <li><%= c.product %>, <%=c.slot %></li>
    <% end %>
    </ol>

    <h2> Memory </h2>
    <ol>
    <% @mems.each do |m| %>
    <li><%=m.description%>, <%=m.product%>, <%=m.vendor%>,<%=m.serial%>,<%=m.slot%>,<%=m.size%></li>
    <% end %>
    </ol>

    <h2>Storage</h2>
    <ol>
    <% @storage.each do |s| %>
    <li><%=s.description %>,<%=s.product%>, <%=s.vendor%>, <%=s.businfo%></li>
    <% end %>
    </ol>

    <h2>NICs</h2>
    <ol>
    <% @nics.each do |n| %>
    <li><%=n.product%>, <%=n.vendor%>, <%=n.physid%>, <%=n.serial%>, <%=n.businfo%></li>
    <% end %>
    </ol>

    <h2>Disks</h2>
    <ol>
    <% @disks.each do |d| %>
    <li><%=d.description%>,<%=d.product%>, <%=d.version%>, <%=d.serial%>, <%=d.businfo%></li>
    <% end %>
    </ol>

    <h2>NVMEs</h2>
    <ol>
    <% @nvmes.each do |n| %>
    <li><%=n.model%>, <%=n.serial%>, <%=n.firmware_rev%>, <%=n.address%></li>
    <% end %>
    </ol>


    <a href="/inventories">Back to Index</a>
    </body>

</html>
